JWT_SECRET_KEY=djfhdfdjfkdfjuiuireUIHJQHEJUQUEBJhisj
JWT_EXPIRES_IN=2700


DATABASE_URL="postgresql://laundry:rahasia@db:5432/laundry-api?schema=public"
POSTGRES_PASSWORD=rahasia
POSTGRES_USER=laundry
POSTGRES_DB=laundry-api